<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ims.dao.StorageMapper">
    <resultMap id="storage" type="com.ims.domain.Storage">
        <id property="goodId" column="goodId"/>
        <result property="goodName" column="goodName"/>
        <result property="goodType" column="goodType"/>
        <result property="goodValue" column="goodValue"/>
        <result property="storehouseId" column="storehouseId"/>
        <result property="number" column="storeNumber"/>
    </resultMap>
    <insert id="insertStorage">
        insert into StorageRecord (goodId, storehouseId, number) VALUES (#{goodId}, #{storehouseId}, #{amount})
    </insert>
    <insert id="addStorehouse">
         insert into Storehouse (address, status) VALUES (#{address}, #{status})
    </insert>
    <update id="updateStorage">
        update
            StorageRecord
        set
            <if test="amount != null">
                number=#{amount}
            </if>
            where goodId=#{goodId} and storehouseId=#{storehouseId}
    </update>
    <delete id="deleteStorage">
        delete from StorageRecord where goodId=#{goodId} and storehouseId=#{storehouseId}
    </delete>

    <select id="selectAll" resultMap="storage">
        select
            g.id as goodId,
            g.name as goodName,
            g.type as goodType,
            g.value as goodValue,
            s.storehouseId as storehouseId,
            s.number as storeNumber
        from
            Good g, StorageRecord s, Storehouse st
        where
              s.goodId = g.id and s.storehouseId = st.id = #{storehouse}
    </select>

    <select id="selectByGoodId" resultMap="storage">
        select
            g.id as goodId,
            g.name as goodName,
            g.type as goodType,
            g.value as goodValue,
            s.storehouseId as storehouseId,
            s.number as storeNumber
        from
            Good g, StorageRecord s, Storehouse st
        where
            s.goodId = g.id and s.storehouseId = st.id and s.goodId = #{goodId} and s.storehouseId = #{storehouseId}
    </select>

    <select id="selectByGoodName" resultMap="storage">
        select
            g.id as goodId,
            g.name as goodName,
            g.type as goodType,
            g.value as goodValue,
            s.storehouseId as storehouseId,
            s.number as storeNumber
        from
            Good g, StorageRecord s, Storehouse st
        where
            s.goodId = g.id and s.storehouseId = st.id and s.storehouseId = #{storehouseId} and g.name like concat('%',concat(#{goodName}, '%'))
    </select>
    <select id="selectByGoodType" resultType="com.ims.domain.Storage">
        select
            g.id as goodId,
            g.name as goodName,
            g.type as goodType,
            g.value as goodValue,
            s.storehouseId as storehouseId,
            s.number as storeNumber
        from
            Good g, StorageRecord s, Storehouse st
        where
            s.goodId = g.id and s.storehouseId = st.id and s.storehouseId = #{storehouseId} and g.Type = #{goodType}
    </select>
</mapper>